<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Document
    body
        h1.title#title soy un titulo
        p.paragraph soy un parrafo
        ul.lista
            -n=10
            while n -- > 0
                li.lista__item #{n}
        p hola mundo


